includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkModelAppends: false
    noEnvCallsOutsideOfConfig: false
    ignoreErrors:
        - '#Method Finller\\Invoice\\InvoiceDiscount::fromLivewire\(\) has no return type specified#'